<div>
  <h1>Password Changed, {{name}}</h1>
  <p>
    Your account password has been successfully changed.
  </p>
  <p>
    If you didn't make this change, please contact support immediately 
    or reset your password by visiting the login page and clicking "Forgot Password".
  </p>
</div>
