<div class="wellcome-container">
    <h1 class="title">Welcome to RAD System</h1>
    <p>RAD system is a project template for rapid development Backend + Frontend</p>
    <p>It can be used as a starting point for fast project development</p>
    <p>To log in (superuser/Password123!)</p>
    <p>Backend:</p>
    <ol>
        <li>Nestjs with typeorm (postgres / mysql)</li>
        <li>Jwt authentication (with roles)</li>
        <li>User management</li>
        <li>Ldap support</li>
        <li>Email notification</li>
    </ol>
    <p>Frontend:</p>
    <ol>
        <li>Angular 21</li>
        <li>Angular Material</li>
        <li>Dark and light theme</li>
        <li>Cookie management</li>
        <li>Transloco translations</li>
    </ol>
    <p>Dockerization</p>
    <ol>
        <li>Backend</li>
        <li>Frontend</li>
        <li>DB</li>
    </ol>
</div>