<div class="department-form" *transloco="let t;">
  @if (form) {
  <h2 mat-dialog-title>
    {{ isEditMode ? t('departments.editDepartment') : t('departments.createDepartment') }}
  </h2>

  <mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ t('departments.code') }}</mat-label>
        <input matInput formControlName="code"
          class="to-upper" 
          [placeholder]="t('departments.namePlaceholder')" required>
        @if (form.get('code')?.hasError('required') && form.get('code')?.touched) {
          <mat-error>{{ t('common.required') }}</mat-error>
        }
        @if (form.get('code')?.hasError('maxlength')) {
          <mat-error>{{ t('common.maxLength', { max: 100 }) }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ t('departments.description') }}</mat-label>
        <input matInput formControlName="description" [placeholder]="t('departments.descriptionPlaceholder')" required>
        @if (form.get('description')?.hasError('required') && form.get('description')?.touched) {
          <mat-error>{{ t('common.required') }}</mat-error>
        }
        @if (form.get('description')?.hasError('maxlength')) {
          <mat-error>{{ t('common.maxLength', { max: 100 }) }}</mat-error>
        }
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">
      {{ t('common.cancel') }}
    </button>
    <button mat-raised-button color="primary" type="button" (click)="onSave()" [disabled]="!form.valid">
      {{ t('common.save') }}
    </button>
  </mat-dialog-actions>
  }
</div>