# =================================================================
# DOCKER & DEVOPS
# =================================================================

# Ignora tutti i dati persistenti nei volumi locali.
# La struttura delle cartelle è preservata tramite i file .keep
Docker/Volumes/*
!Docker/Volumes/*/.keep

# Ignora i file di ambiente con le credenziali (non vanno su Git)
Docker/Config/backend/.env

# Ignora gli upload degli utenti, ma mantieni la cartella
Docker/Config/backend/uploads/*
!Docker/Config/backend/uploads/.gitkeep

# Ignora il contenuto "pesante" degli assets del frontend,
# ma mantieni la cartella 'config' e il suo contenuto.
Docker/Config/frontend/assets/i18n/*
Docker/Config/frontend/assets/img/*
Docker/Config/frontend/assets/fonts/*

# Ignora cartelle temporanee e di build di DevOps
DevOps/tmp/
DevOps/update/
DevOps/old_volumes_backup/

# Ignora i log
logs/
*.log

# =================================================================
# NODE / ANGULAR / NESTJS
# =================================================================
.angular/
node_modules/
dist/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =================================================================
# EDITOR & OS
# =================================================================
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db