.user-form-container {
  .user-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    min-width: 400px;

    mat-form-field {
      width: 100%;
    }

    mat-checkbox {
      margin-top: 0.5rem;
    }
  }
}
