# JWT Authentication Configuration
JWT_SECRET=R4DSyst3mS3cr3tKey12345

# Google OAuth Configuration
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID

# CORS Configuration
CORS_ORIGINS=http://host.docker.internal:3000,http://localhost:4400,http://localhost:4200,
CORS_METHODS=GET,POST,PUT,DELETE,PATCH,OPTIONS
CORS_HEADERS=Content-Type,Authorization,Accept,Origin,X-Requested-With
CORS_CREDENTIALS=true

# =============================================================================
# DATABASE CONFIGURATION
# =============================================================================
# DB_TYPE can be either 'mysql' or 'pgsql | postgres | postgresql'
DB_TYPE=pgsql

# PostgreSQL Database Configuration
PGSQL_HOST=localhost
PGSQL_PORT=5432
PGSQL_DATABASE=rad_db
PGSQL_USERNAME=rad_user
PGSQL_PASSWORD=rad123!
PGSQL_SCHEMA=rad_schema
PGSQL_SSL=false

# Upload path Moved to DB
# URLs Moved to DB
# Email Moved To DB
# LDAP CONFIGURATION Moved to DB
# SSH ACCESS CONFIG Moved to on-premise servers
