<div>
  <h1>Password Changed, {{name}}</h1>
  <p>
    Your Gift Moments account password has been successfully changed.
  </p>
  <p>
    If you didn't make this change, please contact support immediately 
    or reset your password by visiting the login page and clicking "Forgot Password".
  </p>
  <p>
    Thank you,<br>
    The Gift Moments Team
  </p>
</div>
