# .env file
COMPOSE_PROJECT_NAME=rad_system

# Variabili per Postgres usate dal docker-compose
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# ATTENZIONE:
# Il docker-compose.yml usa nomi di default epasswords per il db di n8n e del systema RAG
# Se modifichi questi valori nel compose per la prima installazione, 
# aggiorna anche gli script di inizializzazione config/posgres/init.
# Attenzione se modifichi db utente e password per il database rag devi aggiornare anche i workflows di n8n
