<div>
  <h1>Password Modificata, {{name}}</h1>
  <p>
    La password del tuo account è stata modificata con successo.
  </p>
  <p>
    Se non hai effettuato questa modifica, contatta immediatamente il supporto 
    o reimposta la password visitando la pagina di login e cliccando su "Password dimenticata".
  </p>
</div>
