/* -------------------------------------------------------------
    Custom CSS for RAD-FE Application
    Used to override default styles and add specific customizations.
    ------------------------------------------------------------- */
/* Example: Customizing the background color of the body */
    